.catalog.container	
	.jumbotron
		%h1 Modulo de Catalogo v.1.0.0
		%p.hidden-xs{aling:"justify"} Un sistema de manejo y control de catalogos integrado al CMS de inyxtech. Este modulo puedo almacenar y ordenar imagenes asi como tambien servicos multimedia en la nube como:
		%p.visible-xs{aling:"justify"} Un sistema de manejo y control de catalogos integrado al CMS de inyxtech. Este modulo puedo almacenar y ordenar imagenes asi como tambien servicos multimedia en la nube como Youtube, Vimeo y Soundcloud.
		%center.row{style:"font-size: 80px"}			
			.col-lg-4.col-md-4.col-sm-4.hidden-xs{style:"color: red"}
				%i.fa.fa-youtube
			.col-lg-4.col-md-4.col-sm-4.hidden-xs{style:"color: rgb(0, 163, 255)"}
				%i.fa.fa-vimeo-square
			.col-lg-4.col-md-4.col-sm-4.hidden-xs{style:"color: rgb(255, 173, 0);"}
				%i.fa.fa-soundcloud

	.row
		- @catalogs.each do |catalog| 
			-if catalog.public == true
				.col-sm-6.col-md-4
					%a{:href => "/catalogos/#{catalog.id}/archivos", :role => "button"}
						.thumbnail
							%img{:alt => "", :src => "#{catalog.cover}"}
								.caption
									%h3 
										%center
											= catalog.name
									%p 
										= catalog.description