.container
	.row
		- @products.each do |product|
			-if product.public == true
				.col-sm-6.col-md-4
					.thumbnail
						= image_tag product.image.to_s
						.caption
							%h3
								= product.title